<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>book rental system</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
	<div id="page">
		<div id="logo">
			<h1 align="center"><a href="/" id="logoLink">Book rental system</a></h1>
		</div>
		<div id="nav">

			<ul>
				<li><a href=".home">Home</a></li>
				<li><a href="renturnbooks.html">return books</a></li>
				<li><a href="rentbooks.html">rent books</a></li>
				<li> <a href="('login'">login</a></li>
                <li><a href="logout.html">log out</a></li>
			</ul>

		</div>
		<form action="/search" method=post>
        <div id="search">
            <input type="text" name=bookname>
            <input type="submit" value="search">
            </div>
		</form>

 		<div id="content">
			<h2>Home</h2>
			<p>
				you can borrow books here.
            </p>
			<p>
				enjoy your reading please.
			</p>
		</div>
		<div id="footer">
			<p>
				contact us <a href="/" target="_blank">[12345678]</a>
			</p>
		</div>
	</div>
</body>
</html>